<ng-container>
<div *ngIf="filteredData&&filteredData.length" class="container"> 
<div class="parent" *ngFor="let data of filteredData">
    <div class="child1">
        <div class="card">
            <img [src]="data.links">
        </div> 
        <label class="name">{{data.mission_name }} # {{data.flight_number}}</label>

    </div>
    <div class="child">
        <label>Mission Ids :</label>
        <p>{{data.mission_id}}</p>
    </div>
    <div class="child">'
        <label>Launch Year :</label>
        <p>{{data.launch_year}}</p>
    </div>
    <div class="child">
        <label>Successful Launch :</label>
        <p>{{data.launch_success}}</p>
    </div>
    <div class="child">
        <label>Successful Land :</label>
        <p>{{data.land_success}}</p>
    </div>
    
</div>

</div>
<div class="developer">
    <h4>Developed By Rukkumani</h4>   
</div>
</ng-container>