.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.parent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.child1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label{
    font-weight: bold;
}

.name{
    color:#6e8fe2;
}

.developer{
    text-align: center;
}

@media screen and (max-width: 1024px) and (min-width: 701px) {
    .container{
        flex-direction: column;
    }
    
    }

    
@media screen and (max-width:1440px) and (min-width: 1024px) {
    .container{
        flex-direction: row;
    }
    
    }

