.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.parent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.child1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label{
    font-weight: bold;
}

.name{
    color:#6e8fe2;
}

.developer{
    text-align: center;
}

img {
   max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) and (min-width: 701px) {
    .container{
        flex-direction: row;
    }
    .parent{
        width: 50%;
        flex: 1 0 40%; /* explanation below */

    }
    
    }

    
@media screen and (max-width:1441px) and (min-width: 1024px) {
    .container{
        flex-direction: row;
    }
    
    }

