<div class="card-container">
    <div class="header">
        <h3>SpaceX Launch Programs</h3>
    </div>
    <div class="card">
        <div class="parent-filter">
            <h4>Fliters</h4>
            <div class="parent">
                <label>Launch Year</label>
                <div *ngIf="launchedYear&&launchedYear.length" class="launch-year">
                    <p *ngFor=" let year of launchedYear; let index= index"
                        (click)='getFilteredKeyValue("launch_year",year,index)'>
                        <span [class.active]="selectedIndex==index"> {{year}}</span>
                    </p>
                </div>
            </div>
            <div class="parent">
                <label>Successful Launch</label>
                <div class="launch-year">
                    <p (click)='getFilteredKeyValue("launch_success","true","0")'>
                        <span [class.active]="launch=='0'">True </span></p>
                    <p (click)='getFilteredKeyValue("launch_success","false","1")'>
                        <span [class.active]="launch=='1'">False </span></p>

                </div>
            </div>

            <div class="parent">
                <label> Successful Land </label>
                <div class="launch-year">
                    <p (click)='getFilteredKeyValue("land_success","true","0")'>
                        <span [class.active-land]="landing=='0'">True</span></p>
                    <p (click)='getFilteredKeyValue("land_success","false","1")'>
                        <span [class.active-land]="landing =='1'">False</span></p>

                </div>
            </div>

        </div>
            <app-filtered-spac-xlaunch [childFilteredData]="childFilteredData"></app-filtered-spac-xlaunch>

    </div>
    <footer class="footer">
            <h4>Developed By Rukkumani</h4>   
    </footer>
    </div>