/* You can add global styles to this file, and also import other style files */
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    padding: 16px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    transition: all 0.2s ease-in-out;
    /* line-height: 24px; */
  }
  /* .child{
      display: flex;
      flex-direction: row;
      background-color: #707070;

  } */

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }



  /* Responsive Styles */
  @media screen and (max-width: 700px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

  

  }


  
@media screen and (mix-width:1441px) {
 .card{
   width: 1441px;
   align-self: center;
 }   
}
  